<style>
  .thumbnail{ height: 48px; }
</style>

<div class='container bg-light p-4 my-2 mx-auto'>
  <h1 class='text-primary mb-5'>Vista de productos</h1>
  <table class='table'>
    <thead>
      <tr class='table-dark'>

        <th scope='col'>Nombre</th>
        <th scope='col'>Precio</th>
        <th scope='col'>Foto</th>
      </tr>
    </thead>
    <tbody>

      {{#each productos}}

        <tr class='table-dark align-middle'>
          <td>{{this.title}}</td>
          <td>{{this.price}}</td>
          <td><img src={{this.thumbnail}} class='thumbnail' alt='' /></td>

        </tr>
      {{/each}}

    </tbody>

  </table>

  <a class='btn btn-primary' href='/' role='button'>Volver al formulario</a>
</div>